<ion-header class="ion-no-border" *ngIf="petInfo">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" [routerLink]="'/cat-main/' + petInfo.id">
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button strong="true" color="primary" (click)="submitForm()">
        Done
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="petInfo">

  <div class="image-container">
    <img [src]="updatepetInfoForm.get('petphoto')?.value || petInfo.petphoto" *ngIf="updatepetInfoForm.get('petphoto').value || petInfo.petphoto">
  </div>
  
  <div>
    
    <!-- Loading indicator div with *ngIf -->
    <div *ngIf="loading" class="loading-indicator">
      <!-- You can use a spinner, progress bar, or any other loading animation here -->
      <div class="lottie-animation">
        <ng-lottie [options]="uploadfileoption"></ng-lottie>
      </div>
      <!-- <div class="spinner"></div> -->
      <p>Uploading...</p>
    </div>

    <div class="button">
      <button class="myButton">
        <label (click)="inputField.click()">Update Photo</label>
      </button>
    </div>
    <input type="file" #inputField hidden (change)="onPhotoSelected($event)" />
  </div>
  <br>

  <form [formGroup]="updatepetInfoForm" #updateForm="ngForm" (ngSubmit)="updatepetInfo(updatepetInfoForm.value)" *ngIf="petInfo">
    <ion-card>
      <ion-item>
        <ion-label position="floating">Cat Name</ion-label>
        <ion-input placeholder="Cat Name" clearInput="true" formControlName="name" required></ion-input>
      </ion-item>
    </ion-card>
     
    <ion-card>
      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea rows="5"placeholder="Description" clearInput="true" formControlName="desc" required></ion-textarea>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-label position="floating">Origin</ion-label>
        <ion-textarea rows="5"placeholder="Origin" clearInput="true" formControlName="origin"></ion-textarea>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label position="floating">Height</ion-label>
        <ion-textarea rows="5"placeholder="Height" clearInput="true" formControlName="height"></ion-textarea>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label position="floating">Weight</ion-label>
        <ion-textarea rows="5"placeholder="Weight" clearInput="true" formControlName="weight"></ion-textarea>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label position="floating">Life Span</ion-label>
        <ion-textarea rows="5"placeholder="Life Span" clearInput="true" formControlName="life"></ion-textarea>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label position="floating">Temperament</ion-label>
        <ion-textarea rows="5"placeholder="Temperament" clearInput="true" formControlName="temp"></ion-textarea>
      </ion-item>
    </ion-card>


    <h5>Food</h5>

    <h4>Kitten Stage</h4>
    <ion-card>
      <ion-item>
        <ion-textarea
          rows="5"
          placeholder="Kitten Food"
          clearInput="true"
          formControlName="pupstage"
        ></ion-textarea>
      </ion-item>
    </ion-card>
    <ion-card>
      <div class="image-hair">
        <img
        *ngFor="let imageUrl of updatepetInfoForm.get('puppic').value || petInfo.puppic"
        [src]="imageUrl"
        alt=""
      />
      </div>
    </ion-card>
  
    <div class="button">
      <ion-button
        (click)="inputpuppy.click()"
        expand="block"
        shape="round"
      >
        Add Puppy Food Photo
      </ion-button>
      <input
        #inputpuppy
        hidden
        type="file"
        (change)="pupselect($event)"
        multiple
      />
    </div>

   <h4>Kitten Stage</h4>
   <ion-card>
    <ion-item>
      <ion-textarea
        rows="5"
        placeholder="Kitten Food"
        clearInput="true"
        formControlName="adstage"
      ></ion-textarea>
    </ion-item>
  </ion-card>
  <ion-card>
    <div class="image-hair">
      <img
      *ngFor="let imageUrl of updatepetInfoForm.get('adpic').value || petInfo.adpic"
      [src]="imageUrl"
      alt=""
    />
    </div>
  </ion-card>

  <div class="button">
    <ion-button
      (click)="inputadultfood.click()"
      expand="block"
      shape="round"
    >
      Add Kitten Food Photo
    </ion-button>
    <input
      #inputadultfood
      hidden
      type="file"
      (change)="adselect($event)"
      multiple
    />
  </div>

   <h4>Senior Stage</h4>
   <ion-card>
    <ion-item>
      <ion-textarea
        rows="5"
        placeholder="Senior Food"
        clearInput="true"
        formControlName="senstage"
      ></ion-textarea>
    </ion-item>
  </ion-card>
  <ion-card>
    <div class="image-hair">
      <img
      *ngFor="let imageUrl of updatepetInfoForm.get('senpic').value || petInfo.senpic"
      [src]="imageUrl"
      alt=""
    />
    </div>
  </ion-card>

  <div class="button">
    <ion-button
      (click)="inputseniorfood.click()"
      expand="block"
      shape="round"
    >
      Add Senior Food Photo
    </ion-button>
    <input
      #inputseniorfood
      hidden
      type="file"
      (change)="senselect($event)"
      multiple
    />
  </div>

    <h5>Medicine</h5>
    <ion-card>
      <ion-item>
        <ion-textarea
          rows="5"
          placeholder="Medicine"
          clearInput="true"
          formControlName="med"
        ></ion-textarea>
      </ion-item>
    </ion-card>

    <h5>Grooming Pictures</h5>
    <h5>Haircut</h5>

    <div class="image-hair">
      <img
        *ngFor="let imageUrl of updatepetInfoForm.get('haircut').value || petInfo.haircut"
        [src]="imageUrl"
        alt=""
      />
    </div>

    <div class="button">
      <ion-button (click)="inputhair.click()" expand="block" shape="round">
        Add Photo
      </ion-button>
      <input
        #inputhair
        hidden
        type="file"
        (change)="haircutselect($event)"
        multiple
      />
    </div>

    <h5>Nail Grinding</h5>

    <div class="image-hair">
      <img
        *ngFor="let imageUrl of updatepetInfoForm.get('nail').value || petInfo.nail"
        [src]="imageUrl"
        alt=""
      />
    </div>
    <div class="button">
      <ion-button (click)="inputnail.click()" expand="block" shape="round">
        Add Photo
      </ion-button>
      <input
        #inputnail
        hidden
        type="file"
        (change)="nailselect($event)"
        multiple
      />
    </div>

    <h5>Ear Cleaning</h5>
    <div class="image-hair">
      <img
        *ngFor="let imageUrl of updatepetInfoForm.get('ear').value || petInfo.ear"
        [src]="imageUrl"
        alt=""
      />
    </div>
    <div class="button">
      <ion-button (click)="inputear.click()" expand="block" shape="round">
        Add Photo
      </ion-button>
      <input
        #inputear
        hidden
        type="file"
        (change)="earselect($event)"
        multiple
      />
    </div>

    <h5>Bath and Blow Dry</h5>
    <div class="image-hair">
      <img
        *ngFor="let imageUrl of updatepetInfoForm.get('bath').value || petInfo.bath"
        [src]="imageUrl"
        alt=""
      />
    </div>
      <ion-button (click)="inputbat.click()" expand="block" shape="round">
        Add Photo
      </ion-button>
      <input
        #inputbat
        hidden
        type="file"
        (change)="bathselect($event)"
        multiple
      />

    <div class="button_delete">
      <div class="myButton_delete">
        <ion-label
          button="true"
          detail="false"
          (click)="deletepetInfo(petInfo.id)"
        >
          Delete Item
        </ion-label>
      </div>
    </div>
  </form>
</ion-content>
